# -----------------------------------------------------
# ALIASES
# -----------------------------------------------------

# -----------------------------------------------------
# General
# -----------------------------------------------------
alias chcd='chezmoi cd'
alias ched='chezmoi edit'
alias chap='chezmoi apply'
alias chup='chezmoi update'
alias gpull='git pull'
alias c='clear'
alias shutdown='systemctl poweroff'
alias n='$EDITOR'
alias wifi='nmtui'

{{ if eq .chezmoi.hostname "gus-pc-cachyos-x8664" }}
export OLLAMA_MODEL="qwen3-coder:30b"
{{ else }}
export OLLAMA_MODEL="qwen2.5-coder:7b"
{{ end }}

# -----------------------------------------------------
# ML4W Apps
# -----------------------------------------------------
alias ml4w='flatpak run com.ml4w.welcome'
alias ml4w-settings='flatpak run com.ml4w.settings'
alias ml4w-calendar='flatpak run com.ml4w.calendar'
alias ml4w-hyprland='com.ml4w.hyprland.settings'
alias ml4w-options='ml4w-hyprland-setup -m options'
alias ml4w-sidebar='ags toggle sidebar'
alias ml4w-diagnosis='~/.config/hypr/scripts/diagnosis.sh'
alias ml4w-hyprland-diagnosis='~/.config/hypr/scripts/diagnosis.sh'
alias ml4w-update='~/.config/ml4w/update.sh'

# -----------------------------------------------------
# Scripts
# -----------------------------------------------------
alias ascii='~/.config/ml4w/scripts/figlet.sh'
alias weekly-update="~/.config/scripts/weekly_update.sh"


