-- Workspaces to monitors
--
--
{{- if eq .chezmoi.hostname "gus-pc-cachyos-x8664" -}}
-- helper func
local function assign_workspaces(first_workspace, last_workspace, monitor)
	for i = first_workspace, last_workspace do
		hl.workspace_rule({
			workspace = tostring(i),
			monitor = monitor,
			persistent = true,
		})
	end
end

local hypr_globals = require("hypr_globals")
assign_workspaces(1, 4, hypr_globals.vertical_monitor_name)
assign_workspaces(5, 8, hypr_globals.horizontal_monitor_name)
{{- else }}
--No need for laptop
{{- end -}}



