{
    // General Settings
    "layer": "top",
    "margin-top": 0,
    "margin-bottom": 0,
    "margin-left": 0,
    "margin-right": 0,    
    "spacing": 0,

    // Load Modules
    "include": [
        "~/.config/ml4w/settings/waybar-quicklinks.json",
        "~/.config/waybar/modules.json",
        "~/.config/waybar/custom_workspaces.json"
    ],

    // Modules Left
    "modules-left": [
        "custom/weather",
        "custom/custom_updates",
        "pulseaudio",
    ],

    // Modules Center
    "modules-center": [
        "hyprland/workspaces#rw",
	"custom/workspace_layout"
    ],

{{- if eq .chezmoi.hostname "gus-pc-cachyos-x8664" -}}
    // PC Config
    "modules-right": [
        "clock",
        "power-profiles-daemon",
        "tray",
        "custom/notification",
        "custom/exit"
    ],

{{- else -}}
//laptop config
  "modules-right": [
	"battery",
        "backlight",
        "network",
        "custom/ddc_brightness", 
        "clock",
        "power-profiles-daemon",
        "tray",
        "custom/notification",
        "custom/exit"
    ],
{{- end}}
}


